/* For all pages */

h2{
    color: #FFE1FB;
}

p {
    color: #FFE1FB;
}

body {
    margin:0;
    background-color: #1E0126;
}

/* Startpage */

#startpageheaderpic {
    width: 100%;
}

/* About me */

#picOfMe {
    width: 400px;
    border-style: solid;
    border-color: #FF79CE;
    border-radius: 1000000000000000%;
}

/* My projects */


/* Project site */

