/* Header */
html {
    scroll-behavior: smooth;
}

#mainHeader {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem 0;
    margin: 0;
    background-color: #00000070;
}

#headerLink {
    padding: 0.5rem;
    color: #F2B705;
    text-shadow: 1px 1px 4px #FF79CE;
    font-size: 20px;
    text-decoration: none;
    font-family: "schoolbell";
}

#headerLink:hover {
    background-color: #F2B705;
    color: #1E0126;
    border-radius: 999px;
    transition: background-color 0.1s ease;
    
}


#logo {
    flex: 1;
    max-width: 200px;
}

#darkLight {
    border: none;
    font-size: 1.1rem;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 999px;
    transition: background-color 0.3s ease;
    background-color: #5555555f;
}

#darkLight:hover {
    background-color: #ffe1fb73;
    cursor: pointer;
}

/* Footer */

#mainFooter {
    display: flex;
    justify-content: center;
}

#footerLink {

    padding: 0.5rem;
    color: #F2B705;
    text-shadow: 1px 1px 4px #FF79CE;
    font-size: 20px;
    text-decoration: none;
    font-family: "schoolbell";
}

#footerLink:hover {
    background-color: #FF79CE;
    color: #1E0126;
    text-shadow: none;
    border-radius: 999px;
    transition: background-color 0.5s ease;
}

/* ------------------------------------------------------------ */
/*                          Light theme                         */
/* ------------------------------------------------------------ */


body.light #mainHeader {
    background-color: #ffffff;
    gap: 5.7rem;

}

body.light #headerLink {
    color: #0000a0;
    text-shadow: none;
    font-family: "Inclusive Sans";
    font-size: large;
}

body.light #headerLink:hover {
    background-color: #d9dcdf;
    color: #0000a0;
    text-decoration:underline 1px #0000a0;
    transition: background-color 0.5s ease;
}

body.light #darkLight {
    background-color: #dfe6ee;
}

body.light #darkLight:hover {
    background-color: #4F5359;
}

body.light #footerLink {
    color: #0000a0; 
    text-shadow: none;
    font-family: "Inclusive Sans", sans-serif;
}

body.light #footerLink:hover {
    background-color: #BABCBF;
    color: #0000a0;
    text-decoration:underline 1px #0000a0;
}