/* Header */

#mainHeader {
    list-style-type: none;
    display: flex;
    gap: 6rem;
    align-items: center;
    padding: 0.5rem 2rem 0;
    margin: 0;
    background-color: #00000070;
}

#headerLink {
    padding: 0.5rem;
    color: #F2B705;
    text-shadow: 1px 1px 4px #FF79CE;
    font-size: 20px;
    text-decoration: none;
    font-family: "schoolbell";
}

#headerLink:hover {
    background-color: #F2B705;
    color: #1E0126;
    border-radius: 999px;
    transition: background-color 0.3s ease;
}


#logo {
    flex: 1;
    max-width: 200px;
}

#darkLight {
    border: none;
    font-size: 1.1rem;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 999px;
    transition: background-color 0.3s ease;
    background-color: #000000;
}

#darkLight:hover {
    background-color: #ffe1fb5f;
    cursor: pointer;
}

/* Footer */

#mainFooter {
    display: flex;
    justify-content: center;
}

#footerLink {

    padding: 0.5rem;
    color: #F2B705;
    text-shadow: 1px 1px 4px #FF79CE;
    font-size: 20px;
    text-decoration: none;
    font-family: "schoolbell";
}

#footerLink:hover {
    background-color: #FF79CE;
    color: #1E0126;
    text-shadow: none;
    border-radius: 999px;
    transition: background-color 0.2s ease;
}

/* Other theme */

/* Ändra alla gråa färger till matchande svartvitt headerbild // Header logotyp */
/* Ändra även den blåa länkfärgen till något mer standardiserat / snyggare */

body.light #mainHeader {
    background-color: rgba(0, 0, 0, 0.265)
}

body.light #headerLink {
    color: #3700ff;
    text-shadow: none;
}

body.light #headerLink:hover {
    background-color: #e1e1e1;
    color: #000000;
}

body.light #darkLight {
    background-color: #ffe1fb5f;
}

body.light #darkLight:hover {
    background-color: #000000;
}

body.light #footerLink {
    color: #3700ff; 
    text-shadow: none
}

body.light #footerLink:hover {
    background-color: rgba(0, 0, 0, 0.265);
    color: #000000;
}