/* For all pages */

h1 {
    color: #FFE1FB;
    font-family: 'VT323';
    font-size: 50px;
}

h2 {
    color: #FFE1FB;
    font-family: 'VT323';
}

p {
    color: #FFE1FB;
    font-family: 'VT323';
}

body {
    margin:0;
    background-color: #1E0126;
}


/* Startpage */

#startpageheaderpic {
    width: 100%;
}

/* About me */

#picOfMe {
    width: 400px;
    border-style: solid;
    border-color: #FF79CE;
    border-radius: 1000000000000000%;
}

/* My projects */

#projectLink {
    color: #F2B705;
    text-decoration: none;
    font-family:'VT323';
    font-size: 25px;
    padding: 5px;
}

#projectLink:hover {
    background-color: #F2B705;
    color: #1E0126;
    border-radius: 999px;
    transition: background-color 0.1s ease;
}


/* Project site */


/* ------------------------------------------------------------ */
/*                          Light theme                         */
/* ------------------------------------------------------------ */


/* For all pages */
body.light {
    background-color: #F0F1F2;
}

body.light h1{
    color: black;
    font-family: "Inclusive Sans";
}

body.light h2{
    color: black;
    font-family: "Inclusive Sans";
}

body.light p{
    color: black;
    font-family: "Inclusive Sans";
}

/* Startpage */

/* About me */
body.light #picOfMe {
    border-color: rgb(185, 185, 185);
}


/* My projects */
body.light #projectLink:hover:hover {
    background-color: rgba(0, 0, 0, 0.265);
    color: #000000;
}

/* Project site */

body.light #projectBox {
    background-color: #ffffff;
}

body.light #projectLink {
    color: #000000;
    font-family: "Inclusive Sans";
}

body.light #projectLink:hover {
    background-color: rgba(0, 0, 0, 0.265);
    color: #000000;
}